.boton_navegacion_mobiles {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: rgb(255, 94, 0);
    color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
}

#titulo-hero{
    font-family: 'Public Sans', sans-serif;
    letter-spacing: 2px;
}
#subtitulo-hero{
    font-family: 'Questrial', sans-serif;
    letter-spacing: 2px;
}
#tipeador{
    display: block;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 2px;
}

.perfil{
    display: block;
}

.perfil img{
    border-radius: 50%!important;
    width: 60%;
}

.perfil a{
    color: rgb(207, 207, 207);
    text-decoration: none;
    cursor: pointer;
    font-size: large;
    font-family: 'Questrial', sans-serif;
}

.perfil a:hover{
    color: rgb(255, 94, 0);
}
.perfil a:hover span{
    color: rgb(255, 255, 255);
}

.sosial-icon a i {
    font-size: x-large;
}

.offcanvas-start{
    width: 300px;
}
.dark-bg{
    background-image: linear-gradient(rgba(0,0,0, .3),rgba(0,0,0, .3)), url(../img/hero_imagen.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#hero{
    height: 100vh;
    margin-bottom: 30px;
}

.subrayado{
    /*text-decoration: underline rgb(255, 94, 0);*/
    border-bottom: 4px solid rgb(255, 94, 0);
    padding-bottom: .3em;
}

.top-70 {
    top: 70%!important;
}
.start-40 {
    left: 39%!important;
}

#acerca-de-mi{
    padding: 30px;
}
#acerca-de-mi img{
    width: 300px;
    margin-bottom: 20px;
}


.lista{
    list-style: none;
    margin-top: 20px;
}
.lista li i{
    padding-right: 30px;
    color: rgb(255, 94, 0);
}
.lista li{
    padding-bottom: 10px;
}
.lista li span{
    font-style: bold;
}

.titulo-seccion h2{
    display: inline;
    border-bottom: 4px solid rgb(255, 94, 0);
    padding-bottom: .3em;
}
.titulo-seccion p{
    margin-top: 40px;
    font-family: 'Questrial', sans-serif;
    font-size: large;
}

#skills{
    padding: 30px;
}
.section-bg {
    background: #f0f0f0; /* #f5f8fd */
}

